gspread
google-auth
openpyxl
pandas
customtkinter
pywin32
tkcalendar
pdfplumber
psutil
requests
curl_cffi
pyperclip
selenium
webdriver-manager
geocoder
numpy
python-telegram-bot
pygetwindow
flask
matplotlib
folium
